body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
  
}

.forgot-password-card {
  background: white;
  width: 500px; /* Increased width */
  padding: 30px 40px; /* Increased padding */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 15px; /* Slightly larger border radius */
  text-align: center;
}

.forgot-password-image {
  width: 100%;
  max-width: 200px; /* Increased max width */
  margin-bottom: 25px;
}
.forgot-password-card h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
}

.forgot-password-card p {
  font-size: 1rem;
  margin-bottom: 25px;
  color: #555;
}

.forgot-password-form .input-group{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  border: 1px solid #ddd;
  border-radius:8px;
  padding: 10px 15px;
}
.forgot-password-form .input-group input{
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  padding: 12px;

}



.email-icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: #888;
}

.submit-btn {
  width: 100%;
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 12px 0; /* Increased padding */
  border-radius: 8px; /* Slightly larger border radius */
  font-size: 1.2rem; /* Larger font size for button text */
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #e73570;
}